In [1]:
from surprise.dataset import Reader
from surprise import SVD
from surprise import Dataset
from surprise import dump

from collections import defaultdict
import pandas as pd

In [2]:
def get_top_n(predictions, n=10):
    '''Return the top-N recommendation for each user from a set of predictions.

    Args:
        predictions(list of Prediction objects): The list of predictions, as
            returned by the test method of an algorithm.
        n(int): The number of recommendation to output for each user. Default
            is 10.

    Returns:
    A dict where keys are user (raw) ids and values are lists of tuples:
        [(raw item id, rating estimation), ...] of size n.
    '''

    # First map the predictions to each user.
    top_n = defaultdict(list)
    for uid, iid, true_r, est, _ in predictions:
        top_n[uid].append((iid, est))

    # Then sort the predictions for each user and retrieve the k highest ones.
    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)
        top_n[uid] = user_ratings[:n]

    return top_n

# DONT RUN THESE AGAIN

In [3]:
#this reads the train set
reader = Reader(line_format='user item rating', sep=',', skip_lines=1)
filepath = 'train_ratings.csv'
data = Dataset.load_from_file(filepath, reader=reader)
trainset = data.build_full_trainset()

In [4]:
# First train an SVD algorithm on the full dataset.
algo = SVD()
algo.train(trainset)

In [15]:


dump.dump('CF_full_fit.pkl', algo=algo)

# Start Here

In [5]:
#reads in the testset
reader = Reader(line_format='user item rating', sep=',', skip_lines=1)
filepath_test = 'collab_test_ratings.csv'
data = Dataset.load_from_file(filepath_test, reader=reader)

In [6]:
#temperary step to build the testset
_ = data.build_full_trainset()

In [7]:
#this is the actual test set
testset = _.build_anti_testset()

In [8]:
__, loaded_algo = dump.load('CF_full_fit.pkl')

In [10]:
# We now ensure that the algo is still the same by checking the predictions.
predictions = loaded_algo.test(testset)

In [11]:
# filters predictions to the top 10
top_n = get_top_n(predictions, n=10)

In [12]:
df2 = pd.DataFrame().from_dict(top_n, orient='index')

In [16]:
df2.to_csv('top10_users.csv')

In [11]:
df2.head()

,0,1,2,3,4,5,6,7,8,9
60,"(82, 4.76144546839)","(1216, 4.75925738403)","(54190, 4.75363635523)","(1172, 4.74032341364)","(7669, 4.72762369289)","(59387, 4.71401893956)","(87308, 4.70888736644)","(4973, 4.67009398763)","(2686, 4.66541648749)","(64034, 4.64303660831)"
198,"(5767, 4.68374754903)","(1080, 4.6186488884)","(66934, 4.61086350955)","(318, 4.60622884494)","(665, 4.59285637343)","(104069, 4.56650356715)","(1202, 4.56557128667)","(858, 4.54589867984)","(1136, 4.51519807534)","(31359, 4.51332941718)"
211,"(2324, 4.63888324971)","(116797, 4.61706171986)","(92259, 4.60663971857)","(27523, 4.55160732108)","(91529, 4.53849521653)","(27815, 4.53539217627)","(73881, 4.52514617194)","(72998, 4.52028458813)","(1797, 4.46864322521)","(88810, 4.46775340424)"
325,"(4993, 4.90320428575)","(7153, 4.86141132778)","(5952, 4.83191611631)","(318, 4.74999105717)","(79132, 4.66511341392)","(527, 4.65065235766)","(3578, 4.64052217904)","(109487, 4.63843238315)","(2028, 4.61248773355)","(2571, 4.58689616013)"
411,"(1, 4.58232073813)","(91233, 4.58051815827)","(527, 4.48260228142)","(3114, 4.47769567084)","(8827, 4.47414513186)","(318, 4.45758930736)","(1148, 4.44653278145)","(4896, 4.44525753549)","(150, 4.44236570367)","(78499, 4.41820764851)"

In [13]:
df2.shape

(1385, 10)

In [17]:
df_read = pd.read_csv('top10_users.csv')

In [18]:
df_read

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9
0,60,"('82', 4.7614454683856051)","('1216', 4.7592573840297758)","('54190', 4.7536363552273153)","('1172', 4.740323413640203)","('7669', 4.7276236928911892)","('59387', 4.7140189395605114)","('87308', 4.7088873664355653)","('4973', 4.6700939876344592)","('2686', 4.6654164874925375)","('64034', 4.6430366083137624)"
1,198,"('5767', 4.6837475490285696)","('1080', 4.6186488884024772)","('66934', 4.6108635095522805)","('318', 4.6062288449357025)","('665', 4.5928563734261001)","('104069', 4.5665035671490193)","('1202', 4.5655712866651328)","('858', 4.5458986798378396)","('1136', 4.5151980753425516)","('31359', 4.5133294171805947)"
2,211,"('2324', 4.6388832497053087)","('116797', 4.6170617198591088)","('92259', 4.6066397185668482)","('27523', 4.5516073210824999)","('91529', 4.5384952165332137)","('27815', 4.5353921762695464)","('73881', 4.5251461719390305)","('72998', 4.5202845881334719)","('1797', 4.4686432252102346)","('88810', 4.4677534042440614)"
3,325,"('4993', 4.9032042857481111)","('7153', 4.8614113277826059)","('5952', 4.8319161163059894)","('318', 4.74999105716687)","('79132', 4.6651134139202854)","('527', 4.6506523576605296)","('3578', 4.6405221790388369)","('109487', 4.6384323831491114)","('2028', 4.6124877335532277)","('2571', 4.5868961601344438)"
4,411,"('1', 4.5823207381265822)","('91233', 4.58051815826673)","('527', 4.4826022814171953)","('3114', 4.4776956708373579)","('8827', 4.4741451318646712)","('318', 4.4575893073595125)","('1148', 4.4465327814477584)","('4896', 4.4452575354865189)","('150', 4.4423657036678215)","('78499', 4.4182076485139552)"
5,527,"('1900', 4.6228528014505725)","('214', 4.6064703745041236)","('7327', 4.5847123374038983)","('326', 4.579732874230273)","('97', 4.5765724241504788)","('5368', 4.5442653661634766)","('1178', 4.5400207078675416)","('6669', 4.5265956810199643)","('7767', 4.5225997827596247)","('541', 4.5205509454222401)"
6,595,"('946', 4.7791213730638189)","('1198', 4.760666852096648)","('1196', 4.6937553918012789)","('955', 4.6656705389017379)","('26903', 4.6537643688328014)","('7215', 4.6447645002170646)","('1270', 4.6395152211918216)","('1291', 4.6343506495897406)","('26133', 4.6207702987678934)","('1281', 4.5834263924803045)"
7,647,"('92535', 4.431162618296228)","('1221', 4.3978661216242863)","('26082', 4.2763023958422011)","('750', 4.2739325672366233)","('2019', 4.2717857266721122)","('86345', 4.2705049483835884)","('1201', 4.2678753804151981)","('6016', 4.2578805931574246)","('1213', 4.2383082448850109)","('1089', 4.2365437870029643)"
8,712,"('27611', 4.1953332617592931)","('4993', 4.1388636585933849)","('1196', 4.1169251991666158)","('7153', 4.1055737402951715)","('5952', 4.0967459895244351)","('318', 4.0891537259560078)","('260', 4.08624036745986)","('8638', 4.0671018109162835)","('87960', 4.0307413627374036)","('2905', 4.0293854103355757)"
9,926,"('1148', 4.9157940092790628)","('720', 4.8875478148762816)","('745', 4.8566202811839139)","('1223', 4.754781544806244)","('2019', 4.7180047239842233)","('50742', 4.7073343453208265)","('2920', 4.6988673714951048)","('3338', 4.6851041375136031)","('668', 4.6806324822206751)","('25750', 4.6768234055997286)"
10,933,"('1148', 4.7325305975733896)","('720', 4.721352203018756)","('745', 4.681917085800368)","('1223', 4.6226303420254595)","('91233', 4.6062112414246821)","('2696', 4.562007104439223)","('527', 4.5333864634677781)","('92259', 4.5139344718462215)","('2324', 4.4937547400998383)","('3578', 4.4866439018302078)"
11,986,"('44555', 5)","('214', 5)","('7669', 5)","('326', 4.9862896739154499)","('6669', 4.9488788667896726)","('213', 4.911361412259172)","('1148', 4.8847326587359872)","('602', 4.8811181627437632)","('720', 4.8786535259132133)","('1172', 4.875348849897148)"
12,1217,"('4896', 5)","('53125', 5)","('69844', 5)","('81834', 5)","('91500', 5)","('780', 5)","('2762', 5)","('3916', 5)","('59369', 5)","('72998', 5)"
13,1260,"('3868', 4.6430198904034032)","('2791', 4.6084043454171173)","('501', 4.6065890879726226)","('3869', 4.6048847629735103)","('3033', 4.5561206020630589)","('1464', 4.5199727714952367)","('6122', 4.519419248609398)","('370', 4.509064513290383)","('104', 4.4992452564663639)","('106782', 4.4986100625458922)"
14,1261,"('58559', 4.6288727980181559)","('79132', 4.5936458029738834)","('1704', 4.5811009624392849)","('1291', 4.5730536568673754)","('3578', 4.5021567721949092)","('1193', 4.4612922325244568)","('2194', 4.4583516506436895)","('1259', 4.4567012365854444)","('69524', 4.4510822723101988)","('92259', 4.4418667073798641)"
15,1281,"('2324', 4.6878552632608317)","('8533', 4.6113257995003529)","('58376', 4.583575813587629)","('6187', 4.5586185046022702)","('92259', 4.5312155663338967)","('27815', 4.5061886696891804)","('4474', 4.4910642380679358)","('4880', 4.4558633694667744)","('6370', 4.4410179495282414)","('5014', 4.4397058226075199)"
16,1298,"('1221', 4.6131975222044055)","('912', 4.5679706459109717)","('1252', 4.5253738093819251)","('1230', 4.5130401850486734)","('3134', 4.5110901509786858)","('923', 4.4973203761541658)","('1178', 4.4562909492156759)","('1288', 4.4523172653696941)","('3022', 4.4519224271116817)","('108709', 4.4504856646591255)"
17,1450,"('60904', 4.5371378757197318)","('7153', 4.5136734130771154)","('4993', 4.5054962489429169)","('5952', 4.4961397713555762)","('527', 4.4177795315853352)","('356', 4.3986872121901968)","('1131', 4.3241112724913062)","('85774', 4.3148538478585019)","('2427', 4.2926547054508353)","('4783', 4.2787764106421129)"
18,1510,"('26587', 4.5086412662888211)","('26150', 4.3767311578631123)","('6896', 4.3680529601568665)","('1193', 4.3446810511016594)","('924', 4.3444181121159824)","('1900', 4.3372855878714889)","('33166', 4.3185269245410103)","('4021', 4.3055716885768636)","('306', 4.2945147277875755)","('3677', 4.2883343349661907)"
19,1567,"('92535', 5)","('62336', 5)","('2905', 4.9488141765841887)","('2624', 4.8723932159500887)","('1757', 4.8643064131533809)","('123', 4.8371103893271084)","('3030', 4.8055776650543844)","('86345', 4.8039626518973693)","('26064', 4.7886146579245867)","('1256', 4.7699798211361433)"
20,1606,"('94466', 5)","('1193', 4.9979302201684481)","('1221', 4.9724511474943007)","('2324', 4.9700233280556985)","('86345', 4.9517909442603871)","('86347', 4.9300481845127768)","('6016', 4.9062915381649859)","('92535', 4.8929204716202577)","('1204', 4.8687090255281467)","('1209', 4.8637865980878736)"
21,1670,"('92535', 4.5997479968994863)","('86347', 4.5636058926864678)","('86345', 4.5562121823578465)","('104069', 4.4647459717604798)","('86781', 4.34135010227169)","('92259', 4.3134618737882731)","('632', 4.26410187761988)","('109487', 4.2611467762535691)","('3429', 4.259300088550833)","('115617', 4.2587542147183122)"
22,1747,"('91529', 4.7866926454352807)","('3275', 4.7223857955447546)","('58559', 4.6831509308416823)","('79132', 4.5795588069171069)","('51662', 4.5516599964929654)","('89745', 4.4751838667195267)","('33493', 4.4698132154071342)","('91542', 4.4674609779220287)","('99813', 4.4674374049864314)","('53996', 4.4423206793602645)"
23,1801,"('4973', 4.6939434726798428)","('5224', 4.6305248790768481)","('82', 4.6158462776147235)","('290', 4.5832137080176807)","('55555', 4.5829587580477922)","('296', 4.5612092894646743)","('3083', 4.5457787686737454)","('214', 4.528307221757335)","('5368', 4.5104562379967286)","('26587', 4.4938282373189349)"
24,1868,"('40815', 4.8407710616491695)","('8368', 4.8193205685275364)","('2762', 4.756759441894145)","('54001', 4.6526462182986661)","('69844', 4.6202370169163665)","('81834', 4.5708174155055872)","('377', 4.5381986406832446)","('3916', 4.5063464815109429)","('527', 4.4995368302349332)","('7669', 4.4923454828656171)"
25,1929,"('318', 4.7001235962773169)","('593', 4.6407937586454127)","('527', 4.5921093914557307)","('2324', 4.5654046929944041)","('50', 4.5364616795656847)","('5319', 4.5332727194193776)","('5008', 4.5315057461880546)","('928', 4.5273313921811118)","('1203', 4.522709607880226)","('1197', 4.5100734736889327)"
26,1983,"('1206', 4.2434469107176032)","('2959', 4.2413171973060901)","('94466', 4.2226156412910161)","('56782', 4.2143404031486611)","('4226', 4.2015711237228253)","('6016', 4.1995533957057374)","('2858', 4.1962285888691504)","('3160', 4.1940254336446721)","('7361', 4.186952519628985)","('1258', 4.1763603910138052)"
27,2166,"('112290', 4.0406609395048152)","('104944', 4.025224425592854)","('92259', 3.9870497132440921)","('53123', 3.9394426185518987)","('4973', 3.9246970008292843)","('8981', 3.8963006547760455)","('8622', 3.8676806314039949)","('82', 3.8377615320433685)","('96606', 3.8206353391808321)","('71450', 3.8170355941150307)"
28,2454,"('72998', 5)","('7669', 5)","('92259', 5)","('8533', 5)","('27871', 5)","('106642', 5)","('88810', 4.967274761934922)","('55872', 4.9640804404888152)","('64034', 4.9596450840486588)","('65216', 4.9584374435318557)"
29,2458,"('4993', 4.6026978603300011)","('7153', 4.5713508246334147)","('5952', 4.5363648073564038)","('60069', 4.4561923538248154)","('79132', 4.4389634598333521)","('109487', 4.3594816652648598)","('27611', 4.3439914738564571)","('89904', 4.3423377426398844)","('4973', 4.3228942213536961)","('58559', 4.3191787282396525)"
...,...,...,...,...,...,...,...,...,...,...,...
1355,134702,"('318', 4.6296060837293904)","('1196', 4.4929770321880236)","('1198', 4.4682013509579601)","('1610', 4.4215872835069758)","('8132', 4.4052517501067259)","('1291', 4.3924301887096098)","('1220', 4.3575947592543613)","('110', 4.3503537094910794)","('3578', 4.3438129336918028)","('2028', 4.3308042116516106)"
1356,134767,"('4993', 3.6868731076807624)","('27611', 3.6346697357742577)","('7153', 3.6222483759535984)","('5952', 3.6134790942097963)","('79132', 3.5284349764548488)","('1203', 3.5232815853896513)","('4312', 3.5051234561671381)","('318', 3.4991096222144185)","('94466', 3.4918943203768635)","('112334', 3.4616724247815842)"
1357,134812,"('215', 4.3191833179062842)","('55247', 4.2378016290165261)","('33166', 4.19226251922779)","('8638', 4.1919382964981082)","('2575', 4.1876402756076585)","('2324', 4.1851290599526401)","('2329', 4.1820718329208448)","('58376', 4.1556327533426201)","('2858', 4.1489459256139796)","('48516', 4.1429155661190622)"
1358,134851,"('58376', 5)","('3275', 4.9299026035132032)","('89745', 4.9102390360590826)","('60674', 4.8883074601595951)","('102903', 4.8645767990482121)","('65225', 4.8406724973189803)","('116797', 4.8379244140109954)","('34405', 4.8355211603607176)","('55872', 4.8286857434467532)","('69406', 4.8023997787920649)"
1359,134972,"('7669', 4.9872571047473677)","('50742', 4.8391179583452466)","('1296', 4.7783815940137959)","('670', 4.7722612103247277)","('213', 4.7594036614938009)","('26587', 4.7462006800815697)","('787', 4.7447309396938762)","('6918', 4.7392812383067744)","('326', 4.7386825155687307)","('1207', 4.7356180223834272)"
1360,134984,"('260', 4.8826507202694138)","('1136', 4.7951587362725583)","('1196', 4.7542732681322928)","('2804', 4.5969643157329889)","('750', 4.5940717109369427)","('1148', 4.5917701231815933)","('745', 4.5669265199694085)","('541', 4.5263660594590238)","('924', 4.5215422291667622)","('1080', 4.5005876307542509)"
1361,135191,"('89745', 3.840866325534154)","('858', 3.7606668859604082)","('1221', 3.697348280746894)","('1198', 3.6881262677592543)","('117533', 3.6840243120237592)","('50', 3.6627011025510292)","('1218', 3.6563493082683163)","('4329', 3.6475790572012103)","('7844', 3.6457780335275798)","('26614', 3.6452787390073476)"
1362,135477,"('1354', 4.9960397695048613)","('2609', 4.971544716133776)","('2238', 4.9658057253750485)","('26082', 4.9642673823608305)","('4144', 4.9586149923105927)","('26587', 4.9471817735244663)","('50742', 4.9198475391119656)","('52767', 4.9048531757472107)","('1211', 4.8995558930686149)","('1221', 4.8965292714024615)"
1363,135777,"('104069', 4.7165674970587403)","('318', 4.7106599970707093)","('1089', 4.661923449966979)","('92535', 4.6326891223288804)","('2700', 4.6200515640281692)","('1213', 4.5897690876890707)","('62336', 4.5373258875395983)","('4102', 4.5296317957953391)","('858', 4.5264190202002554)","('6016', 4.5161601329384542)"
1364,135862,"('7669', 4.9966841720476403)","('34405', 4.6537974274006331)","('92259', 4.6453098347313624)","('116797', 4.6442315063565536)","('96821', 4.6410229211759937)","('94070', 4.6300647300550555)","('2725', 4.5943867550864734)","('40629', 4.5831514889733338)","('59387', 4.5830961836729909)","('88810', 4.5775744713511628)"
1365,135878,"('5952', 4.3900486012568969)","('7153', 4.3812599070021232)","('4993', 4.3382407482545133)","('2571', 4.2599788785999797)","('27611', 4.2422074348258807)","('82', 4.1500089343774622)","('260', 4.1210188857707664)","('2959', 4.1056182148804776)","('4376', 4.0806520528199739)","('47', 4.073687528681349)"
1366,135961,"('55721', 3.7755075964399687)","('50', 3.7693190447707963)","('4226', 3.7596000611729963)","('87960', 3.7401370816056638)","('79132', 3.7233130397256522)","('59126', 3.7111991334974288)","('5319', 3.7104254331586017)","('2324', 3.7068785042679835)","('65188', 3.7048014003566219)","('2618', 3.7041505403400823)"
1367,136157,"('60904', 4.0982345208425457)","('26082', 4.0936732694215916)","('5767', 4.0900987141619298)","('541', 4.0853889153811016)","('1148', 4.0739833581567915)","('112552', 4.057002879766137)","('1223', 4.0469269040088216)","('44555', 4.04073129286349)","('87960', 4.038674617412827)","('1214', 4.0352772581761132)"
1368,136160,"('318', 5)","('44555', 5)","('48394', 5)","('1203', 5)","('30803', 5)","('86781', 5)","('96606', 5)","('1281', 4.9786228446504115)","('92259', 4.9753607201288954)","('8014', 4.9710647386357971)"
1369,136334,"('2360', 5)","('306', 5)","('2068', 5)","('3089', 5)","('1251', 5)","('26587', 5)","('2920', 5)","('58425', 5)","('3134', 4.9934056865905943)","('1228', 4.9905351371258275)"
1370,136338,"('26133', 4.200960327368815)","('3077', 4.1400811574017027)","('26712', 4.1211937130323282)","('1361', 4.1159414870409812)","('670', 4.1149689114305827)","('50658', 4.0917637945769707)","('3307', 4.0893445353697278)","('1280', 4.0801415486801789)","('26150', 4.0771762341334306)","('6896', 4.0676020829413515)"
1371,136424,"('318', 4.8341920680980808)","('2959', 4.7997686116184495)","('79132', 4.7883902785292269)","('4226', 4.7263308149276497)","('104841', 4.6864051376041127)","('2329', 4.6833114911359006)","('52042', 4.6829066134951844)","('50', 4.6800903877314131)","('296', 4.6616422165192288)","('858', 4.6551050810273802)"
1372,136437,"('92259', 4.3894444180514824)","('86347', 4.2429313585210071)","('116797', 4.2298751902861405)","('2324', 4.2000721113598658)","('7669', 4.1856407435252887)","('79132', 4.1503143400423133)","('91233', 4.1494403803796436)","('117533', 4.1436100443228616)","('6942', 4.1335352440603002)","('95377', 4.1316888111322783)"
1373,136590,"('7361', 5)","('4973', 5)","('2360', 5)","('326', 5)","('5952', 4.9992486724058143)","('4993', 4.9986907311380788)","('318', 4.9962921621224634)","('7153', 4.9921372130922723)","('1900', 4.988197685613259)","('2920', 4.9862166796183658)"
1374,136647,"('1148', 4.9281423119159919)","('3114', 4.885784937786763)","('745', 4.8338815275078346)","('720', 4.8033134296147058)","('4993', 4.7934688872772364)","('7153', 4.7601948600086086)","('1198', 4.7559042086946981)","('8961', 4.750814018700229)","('1197', 4.7235297163618801)","('5952', 4.7145297952594483)"
1375,136746,"('8533', 4.1657694985281744)","('26614', 4.130938859502943)","('8132', 4.1257109824878064)","('72641', 4.1137368167831667)","('79132', 4.1091660939885291)","('2324', 4.0995685806048376)","('106642', 4.0883226492401699)","('54286', 4.0737421592116236)","('72998', 4.0685912968514657)","('32460', 4.0532345510362369)"
1376,137385,"('318', 4.3820581294534975)","('87960', 4.3367524836270945)","('94466', 4.2370695732510173)","('527', 4.2053434192514043)","('4226', 4.2015675766445533)","('908', 4.1800876031018923)","('71033', 4.1694803470975774)","('79132', 4.1693983058406161)","('913', 4.1689929429775399)","('903', 4.1642446563417774)"
1377,137477,"('1207', 4.4261497202955384)","('4973', 4.4061387190182204)","('318', 4.3895447930138154)","('2918', 4.3747589009055297)","('1197', 4.3727879995703249)","('912', 4.3637348917822099)","('104944', 4.3478106479939642)","('858', 4.3469961669027235)","('50', 4.3454581967100445)","('1204', 4.3294010317659932)"
1378,137580,"('92259', 4.5631065817823542)","('904', 4.4642634243381716)","('1203', 4.4528066174307881)","('912', 4.4523109246723287)","('1207', 4.4487070834152656)","('908', 4.3989985086293144)","('858', 4.3905145193378363)","('7669', 4.3881653313105744)","('79132', 4.3802476458725614)","('116797', 4.3742064835299015)"
1379,137634,"('593', 5)","('377', 5)","('2762', 5)","('3578', 5)","('904', 5)","('914', 5)","('953', 5)","('969', 5)","('1012', 5)","('1028', 5)"
1380,137976,"('3022', 5)","('8125', 4.8745591505229751)","('4432', 4.8575605858998001)","('2935', 4.8485982945527235)","('25750', 4.8449691238398991)","('26082', 4.8433873162438621)","('1178', 4.8169454016503757)","('6896', 4.8091983282982813)","('1260', 4.7879485081509037)","('52767', 4.758581347581833)"
1381,138048,"('527', 5)","('1148', 5)","('2324', 5)","('2762', 5)","('1', 5)","('78499', 5)","('62', 5)","('1797', 5)","('92259', 5)","('116797', 5)"
1382,138066,"('296', 5)","('318', 5)","('527', 5)","('2324', 5)","('2858', 5)","('4993', 5)","('5952', 5)","('7153', 5)","('50', 5)","('48394', 5)"
1383,138122,"('318', 4.4313729968889106)","('86781', 4.4308251476601344)","('50', 4.4072876431044046)","('92259', 4.3529252940405891)","('79132', 4.3374606472558801)","('2959', 4.3278099011790658)","('87960', 4.3008936707128189)","('86345', 4.2948836431497126)","('911', 4.287759061642884)","('5319', 4.2866628750695241)"
1384,138317,"('1148', 3.6255695575738098)","('527', 3.6118595843642214)","('318', 3.6013029602372595)","('7669', 3.587749441112412)","('5008', 3.5806413255936045)","('79132', 3.5800988829562437)","('60069', 3.5785708808723684)","('928', 3.5654886958179968)","('7153', 3.5651601063699738)","('912', 3.558985293364552)"

# Now lets do that 10x

In [4]:
reader = Reader(line_format='user item rating', sep=',', skip_lines=1)

In [5]:
__, loaded_algo = dump.load('CF_full_fit.pkl')

In [6]:


for iteration in range(100):
    #get the data
    print(iteration, ": Loading block")
    filename = 'Batches/' + 'block' + str(iteration) + '.csv'
    data = Dataset.load_from_file(filename, reader=reader)
    
    #temperary step to build the testset
    print(iteration, ": processing testset")
    _ = data.build_full_trainset()
    #this is the actual test set
    testset = _.build_anti_testset()
    
    # We now ensure that the algo is still the same by checking the predictions.
    print(iteration, ": Predictions happening")
    predictions = loaded_algo.test(testset)
    
    # filters predictions to the top 10
    print(iteration, ": Getting top 10")
    top_n = get_top_n(predictions, n=10)
    
    df2 = pd.DataFrame().from_dict(top_n, orient='index')
    
    outputname = 'Batches/' +'output_' + 'block' + str(iteration) + '.csv'
    df2.to_csv(outputname)

    print(iteration, ": Finished!")

0 : Loading block
0 : processing testset
0 : Predictions happening
0 : Getting top 10
0 : Finished!
1 : Loading block
1 : processing testset
1 : Predictions happening
1 : Getting top 10
1 : Finished!
2 : Loading block
2 : processing testset
2 : Predictions happening
2 : Getting top 10
2 : Finished!
3 : Loading block
3 : processing testset
3 : Predictions happening
3 : Getting top 10
3 : Finished!
4 : Loading block
4 : processing testset
4 : Predictions happening
4 : Getting top 10
4 : Finished!
5 : Loading block
5 : processing testset
5 : Predictions happening
5 : Getting top 10
5 : Finished!
6 : Loading block
6 : processing testset
6 : Predictions happening
6 : Getting top 10
6 : Finished!
7 : Loading block
7 : processing testset
7 : Predictions happening
7 : Getting top 10
7 : Finished!
8 : Loading block
8 : processing testset
8 : Predictions happening
8 : Getting top 10
8 : Finished!
9 : Loading block
9 : processing testset
9 : Predictions happening
9 : Getting top 10
9 : Finished!
10 : Loading block
10 : processing testset
10 : Predictions happening
10 : Getting top 10
10 : Finished!
11 : Loading block
11 : processing testset
11 : Predictions happening
11 : Getting top 10
11 : Finished!
12 : Loading block
12 : processing testset
12 : Predictions happening
12 : Getting top 10
12 : Finished!
13 : Loading block
13 : processing testset
13 : Predictions happening
13 : Getting top 10
13 : Finished!
14 : Loading block
14 : processing testset
14 : Predictions happening
14 : Getting top 10
14 : Finished!
15 : Loading block
15 : processing testset
15 : Predictions happening
15 : Getting top 10
15 : Finished!
16 : Loading block
16 : processing testset
16 : Predictions happening
16 : Getting top 10
16 : Finished!
17 : Loading block
17 : processing testset
17 : Predictions happening
17 : Getting top 10
17 : Finished!
18 : Loading block
18 : processing testset
18 : Predictions happening
18 : Getting top 10
18 : Finished!
19 : Loading block
19 : processing testset
19 : Predictions happening
19 : Getting top 10
19 : Finished!
20 : Loading block
20 : processing testset
20 : Predictions happening
20 : Getting top 10
20 : Finished!
21 : Loading block
21 : processing testset
21 : Predictions happening
21 : Getting top 10
21 : Finished!
22 : Loading block
22 : processing testset
22 : Predictions happening
22 : Getting top 10
22 : Finished!
23 : Loading block
23 : processing testset
23 : Predictions happening
23 : Getting top 10
23 : Finished!
24 : Loading block
24 : processing testset
24 : Predictions happening
24 : Getting top 10
24 : Finished!
25 : Loading block
25 : processing testset
25 : Predictions happening
25 : Getting top 10
25 : Finished!
26 : Loading block
26 : processing testset
26 : Predictions happening
26 : Getting top 10
26 : Finished!
27 : Loading block
27 : processing testset
27 : Predictions happening
27 : Getting top 10
27 : Finished!
28 : Loading block
28 : processing testset
28 : Predictions happening
28 : Getting top 10
28 : Finished!
29 : Loading block
29 : processing testset
29 : Predictions happening
29 : Getting top 10
29 : Finished!
30 : Loading block
30 : processing testset
30 : Predictions happening
30 : Getting top 10

OSError: [Errno 28] No space left on device

In [9]:
# ERROR AT INDEX 30

In [6]:
# start at 30 now

for iteration in range(91, 100):
    #get the data
    print(iteration, ": Loading block")
    filename = 'Batches/' + 'block' + str(iteration) + '.csv'
    data = Dataset.load_from_file(filename, reader=reader)
    
    #temperary step to build the testset
    print(iteration, ": processing testset")
    _ = data.build_full_trainset()
    #this is the actual test set
    testset = _.build_anti_testset()
    
    # We now ensure that the algo is still the same by checking the predictions.
    print(iteration, ": Predictions happening")
    predictions = loaded_algo.test(testset)
    
    # filters predictions to the top 10
    print(iteration, ": Getting top 10")
    top_n = get_top_n(predictions, n=10)
    
    df2 = pd.DataFrame().from_dict(top_n, orient='index')
    
    outputname = 'Batches/' +'output_' + 'block' + str(iteration) + '.csv'
    df2.to_csv(outputname)

    print(iteration, ": Finished!")

91 : Loading block
91 : processing testset
91 : Predictions happening
91 : Getting top 10
91 : Finished!
92 : Loading block
92 : processing testset
92 : Predictions happening
92 : Getting top 10
92 : Finished!
93 : Loading block
93 : processing testset
93 : Predictions happening
93 : Getting top 10
93 : Finished!
94 : Loading block
94 : processing testset
94 : Predictions happening
94 : Getting top 10
94 : Finished!
95 : Loading block
95 : processing testset
95 : Predictions happening
95 : Getting top 10
95 : Finished!
96 : Loading block
96 : processing testset
96 : Predictions happening
96 : Getting top 10
96 : Finished!
97 : Loading block
97 : processing testset
97 : Predictions happening
97 : Getting top 10
97 : Finished!
98 : Loading block
98 : processing testset
98 : Predictions happening
98 : Getting top 10
98 : Finished!
99 : Loading block
99 : processing testset
99 : Predictions happening
99 : Getting top 10
99 : Finished!

In [7]:
# so block0 is missing somehow

iteration = 0

#get the data
print(iteration, ": Loading block")
filename = 'Batches/' + 'block' + str(iteration) + '.csv'
data = Dataset.load_from_file(filename, reader=reader)

#temperary step to build the testset
print(iteration, ": processing testset")
_ = data.build_full_trainset()
#this is the actual test set
testset = _.build_anti_testset()

# We now ensure that the algo is still the same by checking the predictions.
print(iteration, ": Predictions happening")
predictions = loaded_algo.test(testset)

# filters predictions to the top 10
print(iteration, ": Getting top 10")
top_n = get_top_n(predictions, n=10)

df2 = pd.DataFrame().from_dict(top_n, orient='index')

outputname = 'Batches/' +'output_' + 'block' + str(iteration) + '.csv'
df2.to_csv(outputname)

print(iteration, ": Finished!")

0 : Loading block
0 : processing testset
0 : Predictions happening
0 : Getting top 10
0 : Finished!

In [ ]:
# another sidd note, this code ran from 0-90 on an EC2 t2.XLarge instance. it crashed at 91.

In [12]:
for x in range(3, 10):
    print(x)

3
4
5
6
7
8
9